# API EC2 Environment Variables (ap-southeast-1)
# Copy to .env on the API EC2 instances

AWS_ACCOUNT_ID=623756711231
DB_HOST=<RDS_ENDPOINT>
DB_USERNAME=taskuser
DB_PASSWORD=<secure-password>
DB_DATABASE=task_tracker_staging
CORS_ORIGIN=http://<FRONTEND_STAGING_IP>
