# ============================================
# Local Environment Variables
# ============================================
DB_ROOT_PASSWORD=password
DB_USERNAME=taskuser
DB_PASSWORD=taskpassword
DB_DATABASE=task_tracker
